.post{
    border: 1px solid var(--border-color);
    border-radius: px;

    .heading{
        display: flex;
        align-items: center;
        gap: 20px;
        height: 60px;
        padding: 20px;
    }
    .content{
       height: 400px;

        img{
            width: 100%;
            height: 100%;
        }
    }
    .footer{
        padding: 20px;
     

        .like{
           display: flex; 
           align-items: center;
           gap: 1rem;
           display: flex;
           justify-content: space-between;

           .likesCount{
                gap: 1rem;
               display: flex;

                .likeIcon{
                    font-size: 1.4rem;
                }
            }

          
           }

        .postCaption{
            margin-top: 1rem;
        }
    }
}